.editor_contenedor {
	display: flex;
	flex-direction: column;
	align-content: center;
	margin-top: 3rem;
	grid-gap: 2rem;
}
#editor {
	width: 37rem;
	align-self: center;
	resize: none;

}
body {
	background-color: #E0F3FC;
}
#preview {
	background-color: #ffffff;
	width: 49rem;
	align-self: center;
	
}